@charset 'UTF-8';

body {
    margin:0;
    padding:0;
}

header {
    background-color: #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
}

.items {
    display: flex;
    list-style: none;
}

.item {
    margin: 0 17px;
}


.logo {
    width: 132px;
    height: 42px;
}

.menu {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}


@media(max-width: 768px) {
    .items {
        display: none;
    }

    .menu {
        display: block;
    }
}


